[submodule "submodules/libtirpc"]
	path = submodules/libtirpc
	url = https://github.com/m-santh/libtirpc.git
    ignore = dirty
[submodule "submodules/patchelf"]
	path = submodules/patchelf
	url = https://github.com/NixOS/patchelf.git
	ignore = dirty
	branch = 0.17.2
