[submodule "submodules/libtirpc"]
	path = submodules/libtirpc
	url = https://github.com/m-santh/libtirpc.git
    ignore = dirty
[submodule "synthetic_benchmark/toml11"]
	path = synthetic_benchmark/toml11
	url = https://github.com/m-santh/toml11.git
